<ul>
    <li><a href="/monitoring/accounts">Accounts</a></li>
    <li><a href="/monitoring/users">Users</a></li>
    <li><a href="/monitoring/engineering">Engineering</a></li>
    <li><a href="/monitoring/financial">Financial</a></li>
</ul>